.details-wrapper {
    border-radius: 15px;
    border: 1px solid #504F4F;
    background: linear-gradient(0deg, #EDCACA 0%, rgba(166, 138, 138, 0.50) 100%);
    width: 500px;
    // height: 450px;
    margin-top: 96px;
    margin-right: 160px;

    .head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;


            h4 {
                margin: 12px 24px;
                color: #000;
                font-family: Lexend;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            h6 {
                margin: 4px 24px;
                font-family: Lexend;
                font-style: normal;
                font-weight: 300;
                line-height: normal;


                span {
                    font-family: Lexend;
                    font-style: normal;
                    font-weight: 200;
                    line-height: normal;
                }
            }
        }

        .right {
            margin: 12px 24px;

            button {
                padding: 4px 12px;
                border-radius: 12px;
                color: #000;
                border: 1px solid #201c1c;
                cursor: pointer;
                font-weight: 400;
                text-decoration: none;
                background: linear-gradient(180deg, #CBD466 0%, rgba(234, 255, 0, 0.00) 100%); // border: 1px solid red;

                &:hover {
                    color: #fdfdfd;
                    background: linear-gradient(90deg, #8d9344 0%, rgba(179, 114, 64, 0.708) 100%);
                }

                &:active {
                    background: linear-gradient(90deg, #727738 0%, rgba(132, 83, 46, 0.708) 100%);
                }
            }
        }
    }

    p {
        margin: 24px;
        padding: 16px;
        color: #0E0E0E;
        width: 360px;
        // height: 220px;
        border-radius: 15px;
        background: #E8E3E3;
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }



    a {
        display: flex;
        width: fit-content;
        border-radius: 15px;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 12px 24px;
        padding: 8px;
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        transition-duration: 2ms;
        transition-timing-function: ease;

        input {
            margin: 0 8px 4px;
            width: 16px;
            height: 24px;
        }

        svg {
            margin: 0 8px 4px;
            width: 16px;
            height: 24px;
        }

        span {
            margin: 2px 12px 0;
            font-family: Lexend;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &:hover {
            color: antiquewhite;
            background: linear-gradient(0deg, #c0a2a2 20%, rgb(166, 138, 138) 100%);
            // transform: scale(1.015);
        }

    }
}